DB_HOST=db
DB_NAME=phoenix_db
DB_USER=phoenix
DB_PASSWORD={{ vault_db_password }}

POSTGRES_USER=phoenix
POSTGRES_PASSWORD={{ vault_db_password }}
POSTGRES_DB=phoenix_db

GRAFANA_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
